@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;

  background: #111;
  background-repeat: no-repeat;
  font-family: "Prompt", sans-serif;
}

.container {
  background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.left-container {
  width: 45%;
  background: rgba(20, 20, 20, 0.8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}
.header {
  padding-top: 30px;
  font-weight: 300;
  line-height: 3rem;
}
.todo-input {
  margin-top: 2rem;
  padding: 1.25rem;
  border-radius: 15px;
  width: 75%;
  height: 25px;
}

.add-btn {
  border-radius: 4px;
  background-color: #154e83;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.add-btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.add-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.add-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.list-container {
  width: 70%;
  padding: 30px 30px;
  background: #142828cc;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.list-container::-webkit-scrollbar-track {
  border: 1px solid #142828cc;
  background-color: #142828cc;
}

.list-container::-webkit-scrollbar {
  width: 10px;
  background-color: #142828cc;
}
.list-container::-webkit-scrollbar-thumb {
  background-color: #6ba3a3cc;
  border-radius: 15px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
  border-radius: 10px;
}

.todo-nobullet {
  text-align: left;
  max-width: 100%;
  list-style-type: none;
}
.buttons {
  display: flex;
  gap: 5px;
}

.todo-btn {
  padding: 2px 5px;
  max-width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .left-container {
    width: 100%;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .todo-input {
    width: 80%;
  }

  .header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .todo-input {
    width: 90%;
  }

  .header {
    font-size: 1.3rem;
  }
  .add-btn {
    width: 80%;
    padding: 5px;
    font-size: 20px;
  }

  .buttons {
    flex-direction: column;
  }

  .todo-btn {
    max-width: 100%;
  }

  .todo-nobullet {
    font-size: 14px;
  }
}
